h1 {
    color: blue;
  }
  
  div.mobile {

  border:solid 4px royalblue;
  width: 220px;
  padding: 20px;
  background-color: salmon;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #6388FF;




  }

    /* border: solid 3px blue;
    padding: 20px;
    width: 220px;
    background-color: cornsilk;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px #2178EB; */
  
  